PyPlasmaOpt.egg-info/
*.pyc
.DS_Store
*.eggs/
var/
PlasmaOpt.egg-info/
tmp/
build/
build-mac/
build-linux/
build-clang/
build-gcc/
examples/.ipynb_checkpoints/
*.so
*.png
*.txt
*.npy
*.log
*.stat
*.zip
