[submodule "pybind11"]
	path = pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "blaze"]
	path = blaze
	url = ./blaze
[submodule "xtensor-python"]
	path = xtensor-python
	url = ./xtensor-python
[submodule "xtensor"]
	path = xtensor
	url = ./xtensor
[submodule "xtl"]
	path = xtl
	url = ./xtl
